/* 
    Document   : home
    Created on : Jun 4, 2013, 2:29:18 PM
    Author     : rachit
    Description:
        Purpose of the stylesheet follows.
*/
*{padding:0; margin:0}
root { 
    display: block;
}
html{
    font-family: lucida-grande;
    background:#dddddd;
}
#register{
    font-size: 20px;
    margin-bottom: -100px;
    margin-top: 75px;
}

#indeximages{
border:2px solid #a1a1a1;
padding:10px 40px; 
background-image: url('img/bg7.jpg');
width:300px;
border-radius:25px;
}

#subcat{
    height: 0px;
    margin-bottom: 40px;
    margin-top: 10px;
}

#product_details{
border:2px solid #a1a1a1;
padding:10px 40px; 
background-image: url('img/bg7.jpg');
width:300px;
border-radius:25px;
}
#container{
   margin-top: 25px;
    margin-left: 200px;
    margin-right: 200px;
    height: 600px;
    width: 1350px;
}
#checkout{
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    height: 600px;
    width: 1350px;
}
h2{
    color: #660000;
}

.button
{
   font-size:30px;
   font-family:Comic Sans MS,sans-serif;
   text-decoration:underline;
   color:#4C4C4C;
   width:400px;
   height:75px;
   background-color:#B7B7B7;
   border-style:solid;
   border-color:#828282;
   border-width:6px;
}


#header{
    margin: 15px;
    width: 1150px;
    height: 150px;
        
}

#categorylist{
    float: left;
    margin-left: 15px;
    margin-top: -30px
      
}

#productlist{
    width: 1400px;
    height: 800px;
    float: left;
   margin-left: -50px;
    alignment-adjust: middle;
    
}

#footer{
    margin: 15px;
}

ul
{
    list-style-type: none;
}
li{
    float:left;
    margin-left: 5em;
    margin-bottom: 5em;
    list-style-type: none;
}
#imgdisp{
    float: left;
    
}

#prodinfo{
    float: left;
}